node_modules/
src/
LICENSE
README.md
CHANGELOG.md

# config
vite.config.js
.gitignore
.eslintrc.js
.prettierrc.js
babel.config.js
tsconfig.json
jest.config.js
.vscode
.nvmrc
.DS_Store

# lock
package-lock.json
pnpm-lock.yaml